.row i {
  font-size: xxx-large;
  color: blue;
}

.row .budget {
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
  height: fit-content;
}

.row .expenses {
  border: 2px solid green;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
}

.row input {
  margin: 5px;
  width: 90%;
  height: 50px;
  border-radius: 2px;
  outline: green;
}
label {
  margin: 10px;
}
button {
  margin: 5px;
  width: 90%;
}
.first-row {
  margin: 10px auto auto 50px;
}
.row .table i {
  font-size: 20px;
  margin-right: 5px;
  color: black;
}
